

<app-dashboard-header></app-dashboard-header>

<main class="">
  <!-- aside -->
  <app-dashboard-aside></app-dashboard-aside>
  <div class="w-full flex justify-center p-4">
    <div class="w-full md:w-4/6">

      <div [ngSwitch]="action">
        <!-- listar -->
        <div *ngSwitchCase="'list'">
          <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">Listado de Suscriptores</h1>
            <button
              (click)="onCreateSubscribers()"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center">
                +
                Agregar Suscriptores
            </button>
          </div>
          <app-list-subscribers (detail)="detail($event)"></app-list-subscribers>
        </div>

        <!-- create -->
        <div *ngSwitchCase="'create'">
          <app-create-susbcribers></app-create-susbcribers>
        </div>

        <!-- detail -->
        <div *ngSwitchCase="'detail'">
          <app-subscriber-details [subscriber]="subscriberSelected"></app-subscriber-details>
        </div>

        <!-- listar -->
        <div *ngSwitchDefault>
          <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">Listado de Suscriptores</h1>
            <button
              (click)="onCreateSubscribers()"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center">
                +
                Agregar Suscriptores
            </button>
          </div>
          <app-list-subscribers></app-list-subscribers>
        </div>

      </div>

    </div>
  </div>

</main>
