<aside id="menu" (click)="openMenu()" class="w-full left-0 absolute h-full">
  <div class="w-80 h-full p-4 shadow-md flex flex-col justify-between bg-blue-500">
      <div class="">
          <ul class="flex flex-col gap-2 text-sm text-gray-600 mt-4">

              <li
                class="p-2 cursor-pointer opacity-80 hover:opacity-100 border-b-2 border-gray-300 font-semibold text-white"
                *ngFor="let item of items">
                <a href="{{item.url}}">{{item.name}}</a>
              </li>

          </ul>
      </div>
      <div class="w-full flex justify-center">
          <a href="#">Cerrar sesión</a>
      </div>

  </div>
</aside>
