<aside id="menu" (click)="openMenu()" class="w-full left-0 absolute h-full">
  <div class="w-80 h-full p-4 shadow-md bg-white flex flex-col justify-between">
      <div class="">
          <ul class="flex flex-col gap-2 text-sm text-gray-600 mt-4">
              <li><a href="#">Suscriptores</a></li>
              <li><a href="#">Suscriptores</a></li>
          </ul>
      </div>
      <div class="w-full flex justify-center">
          <a href="#">Cerrar sesión</a>
      </div>

  </div>
</aside>
