.open {
  transform: translateX(0%)!important;
  transition: transform 0.3s ease-in-out;
  height: calc(100vh - 64px);
}

#menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  height: calc(100vh - 64px);

}
